    <div class="row text-right">
        <ul class="list-inline">
            <li><a href="#" id="gridview" class="btn btn-default switcher"><img src="icons/1.png" height="20" width="20" /></a></li>
            <li><a href="#" id="listview" class="btn btn-default switcher active"><img src="icons/2.png" height="20" width="20" /></a></li>
        </ul>
    </div>
    <ngcart-summary></ngcart-summary>
    <ul id="products" class="list clearfix">
        <li  class="clearfix">
            <a href="#/Category" role="button">View details &raquo;</a>
            <section  class="left" data-ng-repeat="item in items ">
                <img href="#/table/{{item.Id}}" src="{{ item.Foto }}" width="150" height="150">
                <h4>{{ item.Name }}</h4>
                <ngcart-addtocart id="{{ item.Id }}" name="{{ item.Name }}" price="{{ item.Price }}" foto="{{ item.Foto }}" quantity="1" quantity-max="30" data="item"></ngcart-addtocart>
                <p><a class="btn btn-default" href="#/table/{{item.Id}}" role="button">View details &raquo;</a></p>
            </section>
            <section class="right" data-ng-repeat="item in items | filter:search:strict">
                <span class="price">{{ item.Price }}</span>
            </section>

        </li>
       
    </ul>  
